*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center{
	max-width: 1100px;
	padding:0 2%;
	display: flex;
	margin:0 auto;
}

header{
	background-color: rgba(0, 0, 0, 0.6);
	height:80px;
}

.logo{
	color:white;
	margin-top:25px;
}
.menu-container{
	width:100%;
	justify-content: space-between;
}

.menu-container a.active-menu{
	background-color:#4B0082;
}

.menu-container a{
	color: white;
	display: inline-block;
	margin:0 10px;
	text-decoration: none;
	padding:0 10px;
	line-height:80px;
	transition: 0.8s;
}

.menu-container a:hover{
	color:#ec4141;
}


section.main{
	position: relative;
	min-height: 800px;
	background-image: url('../imagem\ site.jpg');
	background-size: cover;
	background-position: center;

}

.text-chamada{
	color:white;
	position: absolute;
	bottom: 50px;
	left: 50px;

}

.text-chamada h1{
	font-size: 40px;
}

section.Heróis{
	background-color:#708090;
	padding:20px 0;	
	text-align: center;
	color: white;
}

section.Heróis h3{
	text-transform: uppercase; 
}

.produt-single{
	text-align: left;
}

.produto-container{
	width:100%;
	justify-content: space-around;
}

.produt-single{
	width: 100%;
	margin:0 10px;
}

.produt-single h3{
	text-align: center;
	background-color: #ec4141;
	border:1px solid white;
	padding: 8px;
}

.produt-single p{
	background-color: white;
	padding: 8px;
	color: black;
}
.produt-single img{
	width: 100%;
	display: block;
}

footer{
	background-color: #333;
	text-align: center;
	padding: 8px;
}

@media screen {
	
}